*, html, body {
    margin: 0;
    padding: 0;
}

.first-container {
    margin: 20px 0px;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffcc99;
    flex-direction: column;
}

.first-container div {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
}
 
.first-container div:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.first-container div:nth-of-type(2) {
    margin-left: 20%;
    flex-direction: colum;
}

.first-container-input {
    width: 70%;
    height: 40px;
}

.first-container-btn {
    background-color: #008cba;
    color: #ffffff;
    padding: 16px 30px;
    font-size: 16px;
}

.first-container p {
    margin-right: 20px;
    font-size: 18px;
    line-height: 18px;
}

.main-container {
    border: 1px solid black;
    text-align: center;
    background-color: #f2f2f2;
    padding-top: 10px;
    margin-bottom: 20px;
}

.main-container p, .main-container b {
    padding-top: 3px;
    padding-bottom: 20px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.sub-container {
    margin: auto;
    width: 85%;
    padding: 5px 0px;
    background-color: #ffffff;
}

.sub-container-div {
    margin: auto;
    width: 96%;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
    border-radius: 5px;
}

.sub-container-div div {
    border-bottom: 1px solid grey;
    text-align: left;
}

.sub-container-div p {
    margin-left: 10px;
}
.sub-div-head {
    background-color: #f8f9fa;
}

.footer {
    display: flex;
    flex-direction: column;
    padding: 20px 0px 20px 25px;
    background-color: #333333;
}

.footer-section1, .footer-section2, .footer-section3 {
    display: flex;
    flex-direction: column;
}

.footer-section1, .footer-section2, .footer-section3 {
    padding-bottom: 20px;
}

.footer-link {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #ffffff;
}

.post-footer {
    text-align: center;
    padding: 20px;
}

.post-footer-p {
    padding-bottom: 20px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 23px;
}

.post-footer-a {
    text-decoration: none;
    color: #7dc5e1;
}

@media screen and (min-width: 760px) {
    .nav {
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color:#E6E6E6;
        color: #ffffff;
        font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
        font-size: 13px;
        line-height: 45px;
        font-weight: 400;
    }
    
    .left-nav, .right-nav {
        display: flex;
        align-items: center;
    }

    .nav a {
        color: #ffffff;
        text-decoration: none;
        list-style: none;
    }
    
    .hover-dropdown {
        display: none;
    }

    .nav a:hover .hover-dropdown {
        display: block;
    }

    .nav-input {
        padding: 4px;
    }
    
    .nav-button {
        transform: translateX(-6px);
        padding: 4px 30px;
        background-color: #008cba;
        color: #ffffff;
        border: none;
    }
    
    .space {
        margin-right: 20px;
    }
    
    .main {
        width: 65%;
        margin: auto;
    }
    
    .heading {
        font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
        font-size: 44px;
        line-height: 62px;
    }
    
    .cursive {
        font-family: "Shadows Into Light", cursive;
        font-size: 27px;
        line-height: 38px;
    }
    
    .main-p {
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        line-height: 23px;
    }
    
    .heading, .cursive, .main-p {
        margin-top: 10px;
        font-weight: 400;
    }
    
    .main-p {
        margin-bottom: 20px;
    }
    
    .button-container {
        display: flex;
        margin-bottom: 20px;
    }
    
    .main-button {
        font-family: "Open Sans", sans-serif; 
        font-size: 14px;
        line-height: 23px;
        border: 2px solid black;
        padding: 4px 4px;
        border-radius: 10px;
    }
    
    .first-container div:nth-of-type(1) {
        flex-direction: row;
    }    
    
    .first-container div:nth-of-type(2) {
        flex-direction: row;
    }

    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}